/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Hero Section Styles */
.hero {
  background-color: #f6a800;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
}

.hero p {
  color: #fff;
  font-size: 24px;
  margin-bottom: 40px;
}

.buttons {
  margin-top: 30px;
}

.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-right: 10px;
}

.button:hover {
  background-color: #777;
}

/* Services Section Styles */
.services {
  background-color: #f2f2f2;
  padding: 80px 0;
}

.services h2 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.service {
  text-align: center;
  margin-bottom: 40px;
}

.service img {
  height: 100px;
  width: auto;
  margin-bottom: 20px;
}

.service h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.service p {
  color: #777;
  margin-bottom: 20px;
}

/* Testimonial Section Styles */
.testimonial {
  background-color: #fff;
  padding: 80px 0;
}

.testimonial h2 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.testimonial-card {
  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
  margin-bottom: 20px;
}

/* Footer Styles */
footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
